/**
* Navbar - Barre de navigation
*
* Utilisation : 
<nav class="navbar">
    <div class="navbar__brand">
        <img class="navbar__logo" src="">
        <h1 class="navbar__brand-title"></h1>
    </div>
    <ul class="navbar__list">
        <li class="navbar__item"><aclass="navbar__links">...</a></li>
    </ul>
    <button class="navbar__cta">...</button>
</nav>
*
* Éléments :
* navbar__brand :  marque de l'établissement
* navbar__logo :  logo de l'établissement
* navbar__brand-title: nom de la marque de l'établissement
*
* navbar__list :  la liste des liens
* navbar__item : un élément de la liste des liens
* navbar__links : les liens cliquables
*
*  navbar__cta: bouton d’appel à l’action (commander)

* Hero - Bannière d’accueil
* Utilisation : 
<div class="hero">
    <div class="hero__header">
        <h1 class="hero__title">...<span class="hero__title--highlight">.....</span></h1>
        <p class="hero__desc">...</p>
        <div class="hero__buttons">
            <button class="hero__learn-more"></button>
            <button class="hero__order-now"></button>
        </div>
    </div>
    <div class="hero__image-container"></div>
</div>
*
* Éléments :
* hero__header : conteneur du texte principal (titre, description)
* hero__title : titre principal de la section
* hero__desc :  courte description sous le titre
*
* hero__buttons : conteneur des boutons
* hero__learn-more : bouton “en savoir plus”
* hero__order-now : bouton principal (commander maintenant)
*
* hero__image-container :  conteneur de l’image secondaire
*
* Variante : 
** hero__title--highlight : partie du titre mise en valeur (couleur différent)


* Section-header : conteneur du titre et l’introduction d’une section
* Utilisation: 
* div class="section-header">
    <h2>...</h2>
    <p class="section-header__desc">...</p>
</div>
* Éléments :
* section-header__desc : description (texte sous le titre de la section)
*
* Variante : 
* section--light : modificateur pour une section avec fond clair
* section--horizantal : Emplacement horizantale des contenus de la section

* About - Section à propos
* Utilisation : 
* <section id="about">
        <div class="about__cards-container">
            <div class="about__top-cards">
            ...
            </div>
        </div>
    </section>
* Éléments : 
* about__cards-container : conteneur regroupant toutes les cartes
* about__top-cards : sous-conteneur pour les cartes situées en haut de la section

* About-card - carte présentant des informations “à propos”
* Utilisation : 
<div class="about-card">
    <img src=""class="about-card__icon">
    <div class="about-card__text">
        <h3 class="about-card__title">...</h3>
        <p class="about-card__desc">...</p>
        <div class="about-card__signature">
            <div class="about-card__avatar"></div>
            <p class="about-card__name"></p>
        </div>
    </div>
</div>
* Éléments :
* about-card__icon : icône associée à la carte 
* about-card__text : contenu texte
* about-card__title : titre principal de la carte
* about-card__desc : description de la carte
*
* about-card__signature : zone signature / auteur 
* about-card__avatar : image de la personne
* about-card__name : nom de la personne associée
*
* Variante : 
* about-card--full-width : modificateur pour que la carte prenne toute la largeur disponible

*Products-card - la carte du produit
* Utilisation: 
* <article class="product-card">
        <div class="product-card__image-container">
            <div class="product-card__badge"></div>
            <div class="product-card__image-title"></div>
        </div>
        <div class="product-card__text-container">
            <h3 class="product-card__title"></h3>
            <p class="product-card__desc"></p>
        </div>
    </article>
*
* Éléments :
* product-card__image-container : conteneur pour l’image du produit
* product-card__badge : badge du produit
* product-card__image-title : titre affiché sur l’image

* product-card__text-container : conteneur pour le texte (titre, description)
* product-card__title : nom du produit
* product-card__desc : description du produit

* openings-card -  carte de temps d'ouverture
* Utilisation : 
* <div class="openings-card">
        <div class="openings-card__icon icon"></div>
        <h3 class="openings-card__day"></h3>
        <p class="openings-card__hour"></p>
    </div>
*
* Éléments :
* openings-card__icon : icon d'horloge pour carte d'ouverture
* openings-card__day : Le jour d'ouverture
* openings-card__hour : l'heure d'ouverture

* User-comment - Commentaire d'un client
* Utilisation : 
* <div class="user-comment">
        <div class="user-comment__header">
            <img src="" class="user-comment__avatar">
            <h3 class="user-comment__user-name"></h3>
        </div>
        <p class="user-comment__text">...</p>
    </div>
*
* Éléments :
* user-comment__header : entête du commentaire (avatar, nom)
* user-comment__avatar : image de profil de l’utilisateur
* user-comment__user-name : nom de l’utilisateur
* user-comment__text : texte du commentaire

* Team-member - Membres de l'équipe
* Utilisation : 
* <div class="team-member">
        <img src=""  class="team-member__icon">
        <div class="team-member__desc">
            <h4 class="team-member__name"></h4>
            <p></p>
        </div>
    </div>
*
* Éléments :
* team-member__icon : icône ou photo de la personne
* team-member__desc : description ou rôle dans l’équipe
* team-member__name : nom du membre de l’équipe

* Price-card - Carte du prix du produit
* Utilisation : 
* <div class="price-card">
        <div class="price-card__cup-size"></div>
        <div class="price-card__price"></div>
        <p></p>
    </div>
* Éléments :
* price-card__cup-size : taille ou option du produit
* price-card__price : prix correspondant

* Footer-top - Section du pied de page
* Utilisation : 
*<div class="footer-top">
    <div class="footer-top__section">
        <h4 class="footer-top__title"></h4>
        <p></p>
    </div>
*
* Éléments :
* footer-top__section : sous-section dans le pied de page
* footer-top__title : titre de la sous-section
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ranchers&display=swap');
:root {
    /* ===== COULEURS ===== */
    --color-bg-light: #EBEFF0;
    --color-bg-dark: #264653;
    --color-primary: #2A9D8F;
    --color-secondary: #E9C46A;
    --color-accent: #F4A261;
    --color-text: #264653;
    --color-cta: #1A2E1A;
    --color-text-light: #fff;
    --color-bg-icon: #DFE3E4;
    /* ===== TYPOGRAPHIE ===== */
    --font: 'Poppins', sans-serif;
    --title-font: 'Ranchers', normal;
    /* ===== TYPOGRAPHIE TAILLE ===== */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 1.75rem;
    --font-size-3xl: 2rem;
    --font-size-4xl: 2.5rem;
    --font-size-5xl: 4.5rem;
    /* ===== POLICE POIDS ===== */
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 900;
        /* ===== ESPACEMENT ===== */
    --space-xxs: 0.5rem;
    --space-xs: 0.625rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.375rem;
    --space-xl: 1.5rem;
    --space-2xl: 2.5rem;
    --space-3xl: 3.75rem;  
    --space-4xl: 5rem;
    --space-5xl: 10.625rem;
        /* ===== BORDER RADIUS ===== */
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.375rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xl: 2rem;
    --border-radius-2xl: 50%;

}
* {
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight-normal);
}

body {
    font-family: var(--font);
    color: var(--color-text-light);
    background-color: var(--color-bg-dark);
    font-size: var(--font-size-base);
}
.navbar {
    background-color: var(--color-bg-dark);
    padding: var(--space-xs) var(--space-2xl); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--space-xl); 

}
.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 1;
    padding: 0.125rem var(--space-xl);
    gap: var(--space-xl); 
}
.navbar__item {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar__links {
    white-space: nowrap;
    color: var(--color-text-light);
    text-decoration: none;
}
.navbar__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
}
.navbar__brand-title {
    font-family: var(--title-font);
    color: var(--color-accent);
        font-size: var(--font-size-4xl);
}
.navbar__logo {
    flex-shrink: 0;
}
button {
    background-color: var(--color-accent);
    border: none;
    cursor: pointer;
    white-space: nowrap;
    padding: var(--space-sm);
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-lg);
    color: var(--color-cta);
}
.navbar__cta {
    border-radius: var(--border-radius-sm);
    padding: var(--space-xs) var(--space-md);
    font-weight: var(--font-weight-normal);
}
.hero { 
    background-image: url('./assets/boba_hero.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80vh; 
    margin-left: auto;
    margin-right: auto;
    padding: var(--space-3xl) var(--space-5xl); 
    gap: var(--space-3xl); 
}
.hero__image-container {
    width: 36%;
    min-height: 400px;
    border: 1px solid var(--color-accent);
    background: url('./assets/coffee.png') lightgray 50% / cover no-repeat;
    border-radius: var(--border-radius-xl);
}
.hero__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}
.hero__title {
    font-family: var(--title-font);
    font-size: var(--font-size-5xl);
    color: var(--color-bg-dark);
    line-height: 66.667%;
}
.hero__title--highlight {
    color: var(--color-primary);
}
.hero__desc {
    font-size: var(--font-size-lg);
    color: var(--color-text);
    font-weight: var(--font-weight-extra-bold);
    line-height: 126.316%;
}
.hero__buttons {
    display: flex;
    align-items: flex-start;
    gap: var(--space-sm);
    flex-wrap: wrap;
    width: 100%;
}
.hero__learn-more {
    flex: 1;
    background-color: var(--color-secondary);
    color: var(--color-text);
}
.hero__order-now {
    flex: 1;
    background-color: var(--color-primary);
    color: var(--color-text-light);
}
h2 {
    font-family: var(--title-font);
    font-size: var(--font-size-4xl); 
}
section, footer {
    padding: var(--space-3xl) var(--space-5xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-3xl);
}
.section--light {
    background-color: var(--color-text-light);
    color: var(--color-text) ;
}
.section--horizantal {
    flex-direction: row;
    gap: var(--space-2xl) ;
}
.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-xl);
}
.section-header__desc {
    line-height: 150%;
    text-align: center;
    width: 32.5rem;
    line-height: 150%;
}
.about__cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-2xl);
    padding: var(--space-lg) 0;
}
.about__top-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-2xl);
    padding: var(--space-lg) 0;
}
.about-card--full-width {
    align-self: stretch;
}
.about-card {
    flex: 1;
    align-self: stretch;
    background-color: var(--color-bg-light);
    color: var(--color-text);
    border-radius: var(--border-radius-lg);
    padding: var(--space-md);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-md);
}
.about-card__icon {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-md);
    aspect-ratio: 1/1;
    width: 100px;

}
.about-card__title {
    font-weight: var(--font-weight-bold);
}
.about-card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-xxs);
}
.about-card__signature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xxs);
    margin-top: var(--space-xxs);
}
.about-card__avatar {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    background-color: #0000001A;
    border-radius: 50%;
}

.products__cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    gap: var(--space-2xl);
}
.product-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    border-radius: var(--border-radius-md);
    border: 1px solid rgba(0, 0, 0, 0.10);
}
.product-card__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 21.25rem;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius-sm);
}
.product-card__badge {
    align-self: flex-start;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    border-radius: var(--border-radius-md) 0;
    padding: calc(var(--space-xxs)/2) var(--space-xxs);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
}
.product-card__image-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: var(--font-size-xs);
}
.product-card__text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--space-xxs)/2);
    padding: var(--space-sm) ;
    padding-bottom: var(--space-xl);
}
.product-card__title {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
}
.product-card__desc {
    font-size: var(--font-size-lg);
    line-height: 140%;
    font-weight: var(--font-weight-medium);
}
.product-card--popular{
    color: var(--color-text);
    border: 2px solid var(--color-accent);
}
.product-card__badge--popular {
    background-color: var(--color-accent);
    color: var(--color-text);
}
#activities {
        background-color: var(--color-bg-light);
}
.openings-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: var(--space-2xl);
}
.openings-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-xxs);
    padding: var(--space-sm) 0;
    flex: 1 ;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius-2xl);
    padding: var(--space-xxs);
}
.openings-card__icon {
    font-size: var(--font-size-3xl);
    width: 6.25rem;
    white-space: nowrap;
    background-color: var(--color-bg-icon);
    color: var(--color-text-light);
}
.openings-card__day {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}
.openings-card__hour {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
}
#testimonials {
    flex-direction: row;
    justify-content: space-between;
}
#testimonials h2 {
    flex: 1;
}
.comments-container {
    display: flex;
    gap: var(--space-2xl);
    padding: var(--space-lg);
    align-items: center;
}
.user-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--space-md);
    gap: var(--space-md);
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius-md);
}
.user-comment__header {
    display: flex;
    gap: var(--space-xxs);
}
.user-comment__avatar {
    background-color: var(--color-bg-icon);
    aspect-ratio: 1/1;
    border-radius: var(--border-radius-2xl);
    padding: calc(var(--space-xxs)/2) ;
}
.user-comment__user-name {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-sm);
}
.contact-team__icon {
    background-color: var(--color-accent);
    padding: var(--space-sm);
}
.contact-team__desc {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}
.contact-team__desc h3{
    font-family: var(--title-font);
    color: var(--color-accent);
    font-size: var(--font-size-xl);
    white-space: nowrap;
}
.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
}
.team-member__icon {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-2xl);
}
.team-member__name {
    color: var(--color-secondary);
    font-size: var(--font-size-lg);
}
.team-member__desc {
    text-align: center;
}
.prices-container {
    display: flex;
    justify-content: center;
    gap: var(--space-lg);
    width: 100%;
}
.price-card {
    padding: var(--space-md);
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    gap: calc(var(--space-xxs)/2);
    flex: 1;
}
.price-card__cup-size {
    color: rgba(0, 0, 0, 0.50);
}
.price-card__price {
    font-size: var(--font-size-2xl);
}

#contact {
    background-color: var(--color-bg-light);
}

.contact-title {
    color: var(--color-accent);
}
.adress-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: var(--space-2xl);
    align-items: center;
}
.adress {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}
.adress-desc {
    white-space: nowrap;
    font-size: var(--font-size-lg);
}
.location-image {
    border: 1px solid var(--color-bg-dark);
    border-radius: var(--border-radius-lg);
    width: 25.25rem;
    min-width: 200px;
    height: 18rem;
    background: 
    url(./assets/icons/place.svg),
    url(./assets/maps_place.png);
    background-position: 33% 23%, 33% 23%;
    background-size: calc(30px + 1.5vw), cover;
    background-repeat: no-repeat, no-repeat;
}

#contact h3 {
    color: var(--color-accent);
    font-family: var(--title-font);
    font-size: var(--font-size-xl);
}
hr {
    width: 98vw;
    border-top: 1px solid var(--color-bg-dark);
}
.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--space-2xl);
}
.forum {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
}
.message-information {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-sm);
}
label {
    font-weight: var(--font-weight-medium);
}
input {
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--border-radius-sm);
    border: 1px solid rgba(0, 0, 0, 0.10);
}
.message button {
    width: 15rem;
}
.button-cancel {
    background-color: transparent;
    border: 1px solid var(--color-bg-dark);
}
footer {
    padding: var(--space-3xl);
}
.footer-top {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.footer-top__title {
    font-weight: 600;
}
.footer-top__section {
    text-align: center;
}
.footer__map {
    width: 100%;
}
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
    font-family: var(--title-font);
    font-size: var(--font-size-xl);
}
.footer__image-container {
    width: calc(100vw - var(--space-3xl)*2);
    min-height: 500px;
    background: 
    url(./assets/icons/place.svg),
    url(./assets/big_maps.png) ;
    background-position: 42% 28%, 42% 28%;
    background-size: calc(30px + 1.5vw), cover;
    background-repeat: no-repeat, no-repeat;
}
